<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.imau.springboot.agriprom.mapper.UserMapper">
    <resultMap id="BaseResultMapper" type="org.imau.springboot.agriprom.entity.User">
        <id property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="userState" column="user_state" jdbcType="TINYINT"/>
        <result property="userType" column="user_type" jdbcType="TINYINT"/>
    </resultMap>

    <insert id="addUser" parameterType="org.imau.springboot.agriprom.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="userState != null">user_state,</if>
            <if test="userType != null">user_type,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="email != null and email != ''">#{email},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="userState != null">#{userState},</if>
            <if test="userType != null">#{userType},</if>
        </trim>
    </insert>

    <update id="updateUser" parameterType="org.imau.springboot.agriprom.entity.User">
        update user
        <set>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="userState != null">user_state = #{userState},</if>
            <if test="userType != null">user_type = #{userType},</if>
        </set>
        where user_id = #{userId}
    </update>

    <delete id="deleteUser">
        delete from user where user_id = #{userId}
    </delete>

    <select id="getAllUser" resultMap="BaseResultMapper">
        select * from user
    </select>

    <select id="getUserById" resultMap="BaseResultMapper">
        select * from user where user_id = #{userId}
    </select>
    <select id="getUserByUserName" resultType="org.imau.springboot.agriprom.entity.User">
        select * from user where user_name = #{userName}
    </select>
    <select id="getUser" parameterType="org.imau.springboot.agriprom.entity.User" resultMap="BaseResultMapper">
        select * from user
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                user_name LIKE CONCAT('%', #{userName}, '%')
            </if>
            <if test="email != null and email != ''">
                AND email LIKE CONCAT('%', #{email}, '%')
            </if>
            <if test="userState != null">
                and user_state = #{userState}
            </if>
            <if test="userType != null">
                and user_type = #{userType}
            </if>
        </where>
    </select>
</mapper>
